@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);
html {
  height: 100%;
}
body {
  position: relative;
  background: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: -2;
}
body:after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.25);
  z-index: -1;
}
.nav,
.pagination,
.carousel,
.pannel-title a {
  cursor: pointer;
}
.view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.loading-indicator {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.25;
}
.three-dots-row-spinner {
  position: absolute;
  margin: 0;
  top: 48%;
  left: 48%;
  background: #03A9F4;
  z-index: 120;
}
h2,
form {
  margin: 20px auto;
}
.nyt {
  display: block;
  margin: 0 auto;
  zoom: 0.35;
}
.grid-960 {
  width: 960px;
  margin: 0 auto;
}
.pagination-md {
  margin: 15px auto;
}
.top-navbar {
  width: 60%;
  margin: 0 auto;
}
.top-navbar .nav a {
  text-transform: uppercase;
}
.top-navbar .nav li + li {
  margin: 5%;
}
.form__search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.form__search input[type=search] {
  width: 79%;
}
.form__search .form__search_label {
  padding: 10px 10px;
  border-radius: 5px;
  background: #ffffff;
  width: 100%;
  background: rgba(112, 122, 122, 0.5);
}
.form__search .btn-search {
  margin-left: 1%;
  padding: 4px 15px;
  border-radius: 5px;
  width: 19%;
  font-size: 13pt;
  -webkit-align-self: baseline;
      -ms-flex-item-align: baseline;
          align-self: baseline;
}
.btn_load {
  display: block;
  width: 100%;
  margin: 30px auto 15px;
  font-size: 16pt;
}
.form__sections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__sections .form__checkbox {
  display: inline-block;
}
.form__sections .form__checkbox input {
  display: none;
}
.form__sections .form__checkbox input:checked + label {
  background: #03A9F4;
}
.form__sections .form__checkbox label {
  display: inline-block;
  margin: 3px 4px;
  padding: 4px 12px;
  border: 1px solid #03A9F4;
  background: #ffffff;
  border-radius: 4px;
  font-size: 13px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.form__sections .form__checkbox label:hover {
  background: #03A9F4;
}
.results-length {
  width: 960px;
  margin: 12px auto;
  text-align: right;
  font: 600 13pt "Ubuntu";
  color: #696969;
}
.content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 960px;
  height: 100%;
  margin: 0 auto;
}
.content .content__article {
  margin: 12px 0;
  padding: 8px;
  -webkit-flex-basis: 32%;
      -ms-flex-preferred-size: 32%;
          flex-basis: 32%;
  height: 100%;
  position: relative;
  background: #fff;
  font: 400 12pt "Ubuntu";
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.content .content__article:hover {
  opacity: 0.8;
  z-index: 1;
}
.content .content__article .figcaption-text {
  margin: 0;
  line-height: 14px;
  color: #666;
  font: 400 11pt "nyt-cheltenham-sh", georgia, "times new roman", times, serif;
  text-align: justify;
}
.content .content__article .article__heading {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
  color: #000;
}
.content .content__article .thumb {
  float: right;
  display: inline;
  margin-left: 10px;
  margin-bottom: 10px;
}
.content .content__article .byline {
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  color: #808080;
  margin-bottom: 3px;
  margin-top: 5px;
}
.content .content__article .summary {
  display: inline;
  color: #333333;
  font-size: 13px;
  line-height: 18px;
  margin: 8px 0;
  text-align: justify;
  font-family: georgia, "times new roman", times, serif;
  max-height: 106px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.content .content__article .update-date {
  display: block;
  margin-left: 3px;
  color: #a81817;
  font-size: 11px;
  line-height: 12px;
}
.content .content__article .hashtag {
  display: inline-block;
  padding: 0 3px;
  line-height: 1 !important;
  color: dodgerblue;
  font: 300 7pt "Ubuntu";
  text-decoration: underline;
}
footer {
  font: 400 9pt "Ubuntu";
}
footer .developer {
  color: #FDF5E6;
  font-size: 1.1em;
}
.items-amount {
  position: absolute;
  right: 0;
  height: 45px;
  width: 45px;
  padding-top: 7px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  background: rgba(59, 89, 152, 0.9);
  color: #ffffff;
  font: 600 20pt "Arial";
}
@media screen and (max-width: 980px) {
  .content {
    width: 100%;
  }
}
