@import './variables';

.form__search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 20px;

  .input-field {
    width: 100%;
  }

  input[type=text] {
    width: 86.5%;
    font-size: 20px;
    text-indent: 12px;
  }

  .btn-search {
    margin-left: 2%;
    margin-right: 0;
    width: 11%;

    i {
      font-size: 36px;
    }
  }
}


.btn_load {
  display: block;
  width: 100%;
  margin: 30px auto 15px;
  line-height: 36px;

  i {
    font-size: 2.1rem;
  }
}

.form__sections {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 15px;

  .form__checkbox {
    display: inline-block;

    input {
      display: none;

      &:checked + label {
        color: #ffffff;
        background: #00796b;
      }
    }

    label {
      display: inline-block;
      margin: 3px 2px;
      background: #ffffff;
      font-size: 13px;
      color: rgba(0,0,0, .8);
      transition: all 0.3s ease;

      &:before {
        display: none;
      }

      &:hover {
        color: #ffffff;
        background: #26a69a;
      }
    }
  }
}

.categories {
  margin-top: 20px;
}

.results-length {
  width: 960px;
  margin: 12px auto;
  padding: 12px 16px;
  text-align: right;
  font-weight: 300;
  font-size: 15px;
  color: #696969;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  width: 960px;
  height: 100%;
  margin: 0 auto;

  .content__article {
    flex-basis: 32%;
    height: 100%;
    position: relative;
    background: #fff;
    transition: all 0.3s ease;

    like-icon {

      i {
        color: #ffffff;
      }

      .marked i {
        color: yellow;
      }
    }

    read-more a {
      font-size: 10pt;
    }

    .byline {
      display: block;
      font-size: 11px;
      line-height: 14px;
      color: #808080;
      margin-bottom: 3px;
      margin-top: 5px;
    }

    .summary {
      display: inline;
      color: #333333;
      font-size: 13px;
      line-height: 18px;
      margin: 3px 0;
      text-align: justify;

      max-height: 106px;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    .update-date {
      display: block;
      color: #a81817;
      font-size: 11px;
      line-height: 12px;
    }
  }
}

footer {
  font-size: 9pt;

  .developer {
    color: #00796b;
    font-size: 1.1em;
  }
}

//---------------- Bookmarks page-----------------


.items-amount {
  position: absolute;
  right: 0;
  height: 45px;
  width: 45px;
  padding-top: 7px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  background: rgba(59,89,152, .9);
  color: #ffffff;
  font: 600 20pt "Arial";
}

//------------------------------------------------

@media screen and (max-width: 980px) {
  .content {
    width: 100%;
  }
}


