<div class="view">

    <form class="grid-960 card categories">

        <div class="form__sections">
            <div class="form__checkbox">
                <input checkbox-group id="default" type="checkbox" value="all"/>
                <label class="btn" for="default">All</label>
            </div>

            <div ng-repeat="catagory in news.catagories" class="form__checkbox">
                <input checkbox-group id="{{catagory.section}}" type="checkbox" value="{{catagory.section}}"/>
                <label class="btn" for="{{catagory.section}}">{{catagory.display_name}}</label>
            </div>

            <div ng-click="news.getLastNews()" class="btn_load btn btn-success">
                <i class="material-icons">system_update_alt</i>
            </div>
        </div>

    </form>

    <div class="results-length card" ng-show="news.resultLengthEnabled" >{{ (news.resultsLength > 20) ? 20 : news.resultsLength }} of about {{news.resultsLength}} results</div>

    <div class="content">
        <article ng-hide="news.searchResultView" class="content__article newswire card waves-light" ng-repeat="searchItem in news.results">
            <div class="newswire__header">
                <img class="z-depth-2" src="{{news.pickImage(searchItem.multimedia, 'thumbnail').url}}" alt=""/>

                <div class="card-title">{{searchItem.title}}</div>
            </div>
            <div class="card-content">
                <p class="byline">{{searchItem.byline}}<span class="update-date"> {{news.parseDate(searchItem.updated_date)}}</span></p>

                <p class="summary">{{searchItem.abstract}}</p>
            </div>
            <div class="card-action">
                <read-more></read-more>
                <like-icon></like-icon>
            </div>

        </article>
    </div>

    <uib-pagination ng-show="news.resultLengthEnabled" ng-change="news.pagination.setPage()" total-items="news.pagination.totalItems" ng-model="news.pagination.currentPage" class="pagination-md" items-per-page="{{news.searchResultView ? 10 : 20 }}" max-size="12" ></uib-pagination>

</div>