<div class="view">

    <!--<div class="get_id">-->
        <!--<div class="btn btn-default" ng-click="getIp()">Get your IP address</div>-->
        <!--<span>Your IP address:</span>-->
        <!--<span class="user_id">{{userIP}}</span>-->
    <!--</div>-->

    <div loader></div>

    <img class="nyt" width="379px" height="64px" src="http://a1.nyt.com/assets/homepage/20151123-033227/images/foundation/logos/nyt-logo-379x64.png" alt="The New Your"/>

    <form class="form form-inline">
        <div class="form__search">
            <label class="form__search_label">
                <input type="search" class="form-control" ng-model="news.formSearch" placeholder="Find Article"/>
            </label>

            <button ng-click="news.getSearchResult()" type="button" class="btn-search btn btn-primary">
            Submit Form
            </button>

        </div>

        <div ng-click="news.getLastNews()" class="btn_load btn btn-success">Pick & Load</div>

        <div class="form__sections">
            <div class="form__checkbox">
                <input checkbox-group id="default" type="checkbox" value="all"/>
                <label for="default">All</label>
            </div>
            <div ng-repeat="catagory in news.catagories" class="form__checkbox" >
                <input checkbox-group id="{{catagory.section}}" type="checkbox" value="{{catagory.section}}"/>
                <label for="{{catagory.section}}">{{catagory.display_name}}</label>
            </div>
        </div>

    </form>


    <div class="content">
        <article class="content__article" ng-click="addToSaves(searchItem)" ng-repeat="searchItem in news.results">
            <figure>
                <a href="{{searchItem.url}}">
                    <img src="{{searchItem.multimedia[3].url}}" width="{{searchItem.multimedia[3].width}}" height="{{searchItem.multimedia[3].height}}" alt=""/>
                </a>
                <figcaption>
                    <span class="figcaption-text">{{searchItem.multimedia[3].caption}}</span>
                    <span class="copyright">{{searchItem.multimedia[3].copyright}}</span>
                </figcaption>
            </figure>
            <h2 class="article__heading">{{searchItem.title}}</h2>

            <p class="byline">{{searchItem.byline}}<span class="publish-date">{{searchItem.published_date}}</span></p>

            <p>{{searchItem.abstract}}</p>

            <a href="{{searchItem.artistViewUrl}}" target="_blank">
                <div class="btn btn-primary btn-sm">More...</div>
            </a>
        </article>
    </div>

</div>