<div class="view">

    <form class="form__search card grid-960">
        <div class="input-field col s10 m10 l10">
            <input ng-model="news.formSearch" id="search_api" class="validate" type="text" lenght="20" autofocus/>
            <label for="search_api">Write something...</label>

            <button ng-click="news.getSearchResult()" type="submit" class="btn-search btn btn-large wave-effect wave-light"><i class="material-icons">search</i></button>
        </div>
    </form>




    <div class="results-length card" ng-show="news.resultLengthEnabled" >{{ (news.resultsLength > 20) ? 20 : news.resultsLength }} of about {{news.resultsLength}} results</div>

    <div class="content">

        <!-- Search API results-->

        <article ng-show="news.searchResultView" class="content__article card waves-light" ng-repeat="searchItem in news.results">

            <div ng-if="news.pickImage(searchItem.multimedia, 'wide')" class="card-image">
                <img src="{{news.pickImage(searchItem.multimedia, 'wide').url}}" alt=""/>

                <div class="card-title">{{searchItem.headline.main}}</div>
            </div>

            <div ng-if="!news.pickImage(searchItem.multimedia, 'wide')" class="card-title">{{searchItem.headline.main}}</div>

            <div class="card-content">
                <p class="byline">{{searchItem.byline.original}}
                    <span class="update-date">{{news.parseDate(searchItem.pub_date)}}</span>
                </p>

                <p>{{searchItem.lead_paragraph}}</p>

                <span class="chip truncate" ng-repeat="key in searchItem.keywords">{{key.value}}<i class="material-icons">close</i></span>
            </div>

            <div class="card-action">
                <read-more></read-more>
                <like-icon></like-icon>
            </div>
        </article>

        <!-- Newswires API results -->

        <!--<article ng-hide="news.searchResultView" class="content__article newswire card waves-light" ng-repeat="searchItem in news.results">-->
            <!--<div class="newswire__header">-->
                <!--<img class="z-depth-2" src="{{news.pickImage(searchItem.multimedia, 'thumbnail').url}}" alt=""/>-->

                <!--<div class="card-title">{{searchItem.title}}</div>-->
            <!--</div>-->
            <!--<div class="card-content">-->
                <!--<p class="byline">{{searchItem.byline}}<span class="update-date"> {{news.parseDate(searchItem.updated_date)}}</span></p>-->

                <!--<p class="summary">{{searchItem.abstract}}</p>-->
            <!--</div>-->
            <!--<div class="card-action">-->
                <!--<read-more></read-more>-->
                <!--<like-icon></like-icon>-->
            <!--</div>-->

        <!--</article>-->


    </div>
    <uib-pagination ng-show="news.resultLengthEnabled" ng-change="news.pagination.setPage()" total-items="news.pagination.totalItems" ng-model="news.pagination.currentPage" class="pagination-md" items-per-page="{{news.searchResultView ? 10 : 20 }}" max-size="12" ></uib-pagination>


</div>

<!-- http://jsfiddle.net/timriley/GVCP2/ -->
<!-- http://jsfiddle.net/cn8VF/308/ -->