<nav>
    <div class="nav-wrapper">
        <a href="/#/" class="brand-logo">
            <img class="logo" src="img/4.png" alt="Logo"/>
        </a>
        <ul class="right">
            <!--<li><a class="menu__item" href="https://crud-it.herokuapp.com/#/">Search</a></li>-->
            <li><a href="http://localhost:4000/#/">Search</a></li>
            <!--<li><a href="https://crud-it.herokuapp.com/#/categories">Categories</a></li>-->
            <li><a href="http://localhost:4000/#/categories">Categories</a></li>
            <!--<li><a href="https://crud-it.herokuapp.com/#/saves">My Favourites</a></li>-->
            <li><a href="http://localhost:4000/#/saves">My Favourites</a></li>
        </ul>
    </div>
</nav>