<md-toolbar>
    <div class="md-toolbar-tools" flex layout="row" >
        <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleSideNav('sidenavRight')">
            <md-icon md-svg-icon="img/menu13.svg"></md-icon>
        </md-button>
        <h2>
            <span>The New York Times</span>
        </h2>
        <a href="/">
            <img class="logo" src="img/4.png" alt="Logo"/>
        </a>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenavRight">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content ng-controller="SideNavCtrl" layout-padding>
        <form>
            <md-input-container>
                <label for="testInput">Test input</label>
                <input type="text" id="testInput"
                       ng-model="data" md-autofocus>
            </md-input-container>
        </form>

        <md-button ng-click="close('sidenavRight')" class="md-primary">
            Close
        </md-button>

        <md-list>
            <md-list-item>
                <!--<a class="menu__item" href="https://crud-it.herokuapp.com/#/">-->
                <a class="menu__item" href="http://localhost:4000/#/">
                    <img src="img/icon-edit.png" alt=""/>
                    <p>Home</p>
                </a>
            </md-list-item>
            <md-list-item>
                <!--<a class="menu__item" href="https://crud-it.herokuapp.com/#/saves">-->
                <a class="menu__item" href="http://localhost:4000/#/saves">
                    <img src="img/icon-like.png" alt=""/>
                    <p>Bookmarks</p>
                </a>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>