<div class="view likes__">
    <h2>Favourite artists:</h2>

    <div class="items-amount">{{storageLength}}</div>
    <div ng-show="saves.hasItems" class="content">
        <div ng-click="saves.deleteItem($index)" class="content__item" ng-repeat="searchItem in saves.results track by $index">
            <p><span>Title:</span> {{searchItem.title}}</p>

            <img src="{{searchItem.multimedia[3].url}}" width="{{searchItem.multimedia[3].width}}" height="{{searchItem.multimedia[3].height}}" alt=""/>
            <span>{{searchItem.multimedia[3].caption}}"</span>
            <p>{{searchItem.abstract}}</p>

            <a href="{{searchItem.artistViewUrl}}" target="_blank">
                <div class="btn btn-primary btn-sm">More...</div>
            </a>
        </div>
    </div>
</div>